
.title{
	text-align: right;
	 font-size: 20px;
	 color: blue;

}

.btm{
	text-align: right;
}


.textarea1{
	width:100px;
}
.textarea2{
	width:330px;
}
.textarea3{
	width:660px;
}
.textarea4{
	width:150px;
}
