@charset "UTF-8";
body{
	background-color: #f5fffa;
}
header{
	text-align: center;
	background-color: #00008B;
	padding-top: 10px;
	padding-bottom: 10px;
}

header p{
    color: #ffffff;
    	font-size: 20px;
}

#register dl{
	background: #D9E5FF;
	border: 1px solid #ddd;
	border-top: 0;
}
#register dl dt,
#register dl dd {
	padding: 10px;
	border-top: 1px solid #ddd;
}
#register dl dt {
	width: 13em;
	float: left;
	clear: both;
	font-weight: bold;
}
#register dl dd {
	background-color: #fff;
	border-left: 1px solid #ddd;
	margin-left: 13em;
}