#container{
/* 	height:300px; */
	width:1080px;
	overflow-y:scroll;
	overflow-x:scroll;
	scrollbar-base-color:#D8D8D8;
	scrollbar-arrow-color:#2E2EFE;
	margin: 30px auto 0;
}

#container input{
	margin-bottom: 20px;
}

#columnName th:first-child{
	width:50px;
}
#columnName th:nth-child(2){
	width:80px;
}
#columnName th:nth-child(3){
	width:50px;
}
#columnName th:nth-child(4){
	width:80px;
}
#columnName th:nth-child(5){
	width:80px;
}
#columnName th:nth-child(6){
	width:80px;
}
#columnName th:last-child{
	width:80px;
}
